body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.first-info {
    margin-top: 0.5em;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.address {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
}

.phone {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.line {
    height: 2px;
    background-color: rgb(207, 162, 138);
}

/* nav and logo */

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
    font-size: 1.3em;
    color: black;
    margin-left: 3vw;
    margin-right: 3vw;
}

.nav ul li a {
    color: black;
}

.nav ul li a:hover {
    text-decoration-color: rgb(207, 162, 138);
}

.nav ul li a:visited {
    text-decoration-color: rgb(207, 162, 138);
}

.logo {
    position: absolute;
    left: 43vw;
    top: 60px;
}

.left-nav-content {
    padding-right: 3vw;
}

.left-nav {
    display: flex;
    justify-content: center;
    margin-top: 6vw;
}

.right-nav {
    display: flex;
    justify-content: center;
    margin-top: 6vw;
}

.slider {
    display: flex;
    align-items: flex-end;
    background-image: url("img/slider-zdj-4.png");
    height: 35vw;
}

.slider-text {
    color: white;
    text-shadow: 5px black;
    font-weight: bold;
    font-size: 1.2em;
    width: 40%;
    text-align: justify;
    padding-bottom: 3vw;
}

/* offert styles */
.topic {
    display: block;
    text-decoration-color: rgb(207, 162, 138);
}

.offer {
    height: 100vh;
    background-image: url("img/logo-background-left.png");
    background-repeat: no-repeat;
}

.offer-topic {
    padding-top: 2vw;
    font-size: 2.5em;
    width: 200px;
    border-bottom: 3px solid rgb(207, 162, 138);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.offert-haircut-topic {
    height: 48px;
    width: 40%;
    border-bottom: 3px solid rgb(207, 162, 138);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}

.haircut-list {
    list-style-type: none;
    margin: 30px;
}

.haircut-list li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgb(207, 162, 138);
    top: 45%;
    left: 2%;
}

.haircut-list li {
    position: relative;
    padding: 30px;
    font-size: 1.2em;
    padding-left: 40px;
    text-align: center;
}

.offert-haircut-img {
    background-image: url("img/oferta-zdj-all.png");
    height: 620px;
    width: 52%;
}

/*------ shaving styles ------*/
/* page border */
.border-strip {
    background-color: rgb(207, 162, 138);
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.shaving-list {
    list-style-type: none;
    margin: 30px;
}

.shaving-list li {
    position: relative;
    padding: 30px;
    font-size: 1.2em;

}

.shaving-list li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgb(207, 162, 138);
    top: 45%;
    left: 1%;
}

.offer-shaving {
    height: 100vh;
    background-image: url("img/logo-background-right.png");
    background-repeat: no-repeat;
    background-position: right;
}

.offer-shaving-img {
    max-width: 90%;
    height: auto;
}

.shaving-gallery {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shaving-topic {
    height: 48px;
    width: 30%;
    border-bottom: 3px solid rgb(207, 162, 138);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.shaving-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

/* dyeing beards styles */
.dyeing-beards {
    background-image: url("img/logo-background-left.png");
    background-repeat: no-repeat;
    height: 100vh;
}

.dyeing-topic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dyeing-position {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.dyeing-img {
    max-width: 100%;
    height: auto;
}

.dyeing-topic-header {
    border-bottom: 3px solid rgb(207, 162, 138);
}

.dyeing-topic-header h2 {
    font-size: 3em;
    text-align: center;
}

/* cosmetics styles */
.cosmetics {
    height: 100vh;
}

.cosmetics-topic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cosmetics-topic-header {
    border-bottom: 3px solid rgb(207, 162, 138);
    text-align: center;
}

.cosmetics-topic-header h2 {
    font-size: 3em;
}

.cosmetics-position {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cosmetics-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
}

.cosmetics-title {
    border-bottom: 3px solid rgb(207, 162, 138);
    text-align: center;
    width: 50%;
    margin-bottom: 4vh;
}

.coast {
    background: rgb(207, 162, 138);
    text-align: center;
    color: white;
    width: calc(40px + 6vw);
    padding-top: 10px;
    padding-bottom: 10px;
}
/* about us styles */
.about-us {
    height: 100vh;
    display: flex;
    align-items: center;
}
.opinions{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.opinion-position{
    height:90%;
}
.opinion-header{
    border-bottom: 3px solid rgb(207, 162, 138);
    text-align: center;
    width: 50%;
}
.opinion-left-header{
    margin-bottom:4vh;
}
.border-vertical{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}
.border{
    width:4px;
    height:100%;
    background-color: rgb(207, 162, 138);
}
.realization{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
}
.opinion{
    text-align:center;
}
.opinion-border{
        border-bottom: 3px solid rgb(207, 162, 138);
        margin-bottom:4vh;
}
.client{
    text-align:right;
}
.realization-img{
    max-width:100%;
    height:auto;
}
.bottom{
    margin-bottom: 11vh;
}
/* contact styles */
.contact{
    height:100vh;
}