body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.first-info {
    margin-top: 0.5em;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.address {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
}

.phone {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.line {
    height: 2px;
    background-color: rgba(207, 162, 138, 0.8);
}

/* nav and logo */

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
    font-size: 1.3em;
    color: black;
    margin: 0 3vw 0 3vw;
}

.nav ul li a {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: #444444;
    transition: text-shadow 0.6s,
        font-size 0.6s;

}

.nav ul li a:hover {
    text-decoration-color: rgba(207, 162, 138, 0.8);
    text-shadow: 0 0 10px #FFFFFF;
    font-size: 1.5em;
    text-decoration: none;
}

.nav ul li a:visited {
    text-decoration-color: rgba(207, 162, 138, 0.8);
}

.logo {
    position: absolute;
    left: 43vw;
    top: 60px;
}

.left-nav-content {
    padding-right: 3vw;
}

.left-nav {
    display: flex;
    justify-content: center;
    margin-top: 6vw;
}

.right-nav {
    display: flex;
    justify-content: center;
    margin-top: 6vw;
}

.nav-style {}

.nav-style:hover {}

.slider {
    display: flex;
    align-items: flex-end;
    background-image: url("img/slider-zdj-4.png");
    height: 35vw;
}

.slider-text {
    color: white;
    font-weight: bold;
    font-size: 2.3em;
    width: 40%;
    text-align: center;
    margin-bottom: 3vw;
    background-color: rgba(0, 0, 0, 0.6);
    transition: width 1s;
    /* transition: text-shadow 1s; */
}

.slider-text:hover {
    width: 50%;
    text-shadow: 0 0 10px #FFFFFF;
}

/* offert styles */
.topic {
    display: block;
    text-decoration-color: rgba(207, 162, 138, 0.8);
}

.offer {
    background-image: url("img/logo-background-left.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-bottom: 20px;
}

.offer-topic {
    font-size: 2.5em;
    width: 200px;
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.offert-haircut-topic {
    height: 48px;
    width: 200px;
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}

.offert-haircut {
    height: 100%;
}

.haircut-list {
    list-style-type: none;
    margin: 30px;
    padding-inline-start: 0px;
}

/* .haircut-list li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(207, 162, 138, 0.8);
    top: 45%;
    left: 1%;
} */

.haircut-list li {
    position: relative;
    /* padding:10px; */
    font-size: 1.3em;
    /* padding-left: 40px; */
    text-align: center;
}

.offert-haircut-img img {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: max-width 0.5s;
}

/*------ shaving styles ------*/
/* page border */
.border-strip {
    background-color: rgba(207, 162, 138, 0.8);
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.shaving-list {
    list-style-type: none;
    margin: 30px;
    padding-inline-start: 0px;
}

.shaving-list li {
    position: relative;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}

/* .shaving-list li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(207, 162, 138, 0.8);
    top: 45%;
    left: 1%;
} */

.offer-shaving {
    background-image: url("img/logo-background-right.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px 0 20px 0;
}



.shaving-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shaving-gallery img {
    max-width: 90%;
    height: auto;
}

.shaving-topic {
    height: 48px;
    width: 200px;
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

/* dyeing beards styles */
.dyeing-beards {
    background-image: url("img/logo-background-left.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding: 20px 0 20px 0;
}

.dyeing-topic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px;
}

.underline {
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
}

.dyeing-photo {
    margin: 20px 0 20px;
}

.dyeing-img {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px 5px #000000;
}


.underline h2 {
    font-size: 3em;
    text-align: center;
}

/* cosmetics styles */
.cosmetics-offer {
    padding: 0 0 20px;
}

.cosmetics-topic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cosmetics-topic-header {
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
    text-align: center;
}

.cosmetics-topic-header h2 {
    font-size: 3em;
}

.cosmetics {
    position: relative;
}

.cosmetics-block {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
}

.cosmetics-title {
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
    text-align: center;
    width: 50%;
    margin-bottom: 4vh;
}

.coast {
    background: rgba(207, 162, 138, 0.8);
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* about us styles */
.about-us {

    display: flex;
    align-items: center;
}

.opinions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cosmetics-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
}

.cosmetics-arrow-right {
    right: 5px;
}

.cosmetics-arrow-left {
    left: 5px;
}

.cosmetics-arrow-left:hover {
    opacity: 1;
}

.cosmetics-arrow-right:hover {
    opacity: 1;
}


.opinion-header {
    border-bottom: 3px solid rgba(207, 162, 138, 0.6);
    text-align: center;
    margin: 0 0 10px;
}

.opinion-left-header {
    margin-bottom: 4vh;
}

.border-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    margin: 20px 0 20px 0;
}

.border {
    width: 4px;
    height: 100%;
    background-color: rgba(207, 162, 138, 0.8);
}

.realization {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.opinion {
    text-align: center;
}

.opinion-border {
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
    ;
    margin-bottom: 4vh;
}

.client {
    text-align: right;
}

.realization-img {
    max-width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
    box-shadow: 5px 5px 15px 5px #000000;
}



/* contact styles */

.contact-position {
    height: 96%;
}

.map {
    height: 400px;
    margin-top: 23px;
    margin-bottom: 23px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.creator {
    background-color: rgb(207, 162, 138);
    text-align: center;
    font-size: 0.8em;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creator p {
    margin: 0;
}

.form {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-control {
    margin: 15px;
}

.form-topic {
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(207, 162, 138, 0.8);
}

.form-topic-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.border-horizontal {
    background-color: rgba(207, 162, 138, 0.8);
    height: 5px;
}

.contact-data {
    height: calc(100% - 65% - 5px - 4%);
}

.barber-address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
}

.barber-hours {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
}

.colabo {
    height: 100%;
    text-align: center;
}

.colabo img {
    max-width: 50%;
    height: auto;
    margin: 10px;
}

.textarea {
    resize: none;
    width: 100%;
    max-height: 200px;
}

.price {
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC,
        0px 1px 1px #EEEEEE,
        2px 1px 1px #CCCCCC,
        1px 2px 1px #EEEEEE,
        3px 2px 1px #CCCCCC,
        2px 3px 1px #EEEEEE,
        4px 3px 1px #CCCCCC,
        3px 4px 1px #EEEEEE,
        5px 4px 1px #CCCCCC,
        4px 5px 1px #EEEEEE,
        6px 5px 1px #CCCCCC,
        5px 6px 1px #EEEEEE,
        7px 6px 1px #CCCCCC;
}

.golenie {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    display: flex;
    justify-content: center;
}

.form-group input {
    width: 100%;
}

.form-control {
    margin: 20px 0 20px 0;
}

@media screen and (max-width:1199px) {
    .offert-haircut-img img {
        max-width: 90%;
    }

    .dyeing-text {
        text-align: center;
    }

    .dyeing-photo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dy .border-vertical {
        height: 570px;
    }
}

@media screen and (max-width:991px) {

    .shaving-topic {
        margin-top: 7vh;
    }

    .shaving-gallery img {
        max-width: 80%;
        height: auto;
    }

    .shaving-list {
        margin: 0;
    }

    .offert-haircut-img {
        margin-top: 100px;
    }

    .dyeing-img {
        max-width: 80%;
    }
}

@media screen and (max-width:767px) {
    .haircut-list {
        margin: 10px;
    }

    .haircut-list li {
        font-size: 1em;
    }

    .strzyzenie img {
        max-width: 60%;
        box-shadow: 5px 5px 15px 5px #000000;
        border-radius: 100%;
    }

    .strzyzenie {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .golenie img {
        max-width: 60%;
        box-shadow: 5px 5px 15px 5px #000000;
        border-radius: 50%;
    }

    .underline h2 {
        font-size: 1.3em;
    }

    .dyeing-text {
        font-size: 0.8em;
    }

    .dyeing-h {
        font-size: 18px;
    }

    .cosmetics-block {
        font-size: 16px;
    }

    .cosmetics-topic-header h2 {
        font-size: 2.5em;
    }

    .opinion {
        font-size: 15px;
    }
}